html {  
  box-sizing: border-box;
}

*,
*::after,
*::before { 
  box-sizing: inherit;
}

// img {
//   vertical-align: top;
//   max-width: 100%;
//   height: auto;
// }

body {  
  font-kerning: none;
}

a {
  text-decoration: none;
}

.btn {
  border: none;
  margin: 0;
  padding: 0;
}

.inp_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}