.main__block_conclusion {
  margin:  30px 0 0 0;

  .block_conclusion__wrap {
    padding: 0 20px;
  }

  .block_conclusion__title {
    font-family: "Consolas Bold";
    font-size: 21px;
    line-height: 1.71;
    margin: 0 0 0 -1px;
  }

  .block_conclusion__block_parag {
    font-family: Arial;
    font-style: normal;
    letter-spacing: -0.1px;
    font-size: 14px;
    line-height: 1.29;
    margin: 15px 0 0 0;
    

    width: 281px;
  }
}