.main__block_similar {
  width: 100%;
  margin: 31px 0 0 0;
  padding-bottom: 10px;

  .block_similar__wrap {    
    margin: 0 auto;

    @media (min-width: 320px) {
      width: 320px;
      padding: 0 20px;
    }

    @media (min-width: 768px) {
      width: 768px;
      padding: 26px 15px 81px 15px;
    }
  }

  .block_similar__block_title {

    @media (min-width: 320px) {
      font-family: "Consolas Bold";
      font-size: 21px;
      line-height: 1.71;
    }

    @media (min-width: 768px) {
      font-family: "Consolas";
      font-size: 28px;
      line-height: 0.86;      
    }
  }

  .block_similar__block_slider {
    
    @media (min-width: 320px) {
      margin: 20px 0 0 0;
    }

    @media (min-width: 768px) {
      margin: 37px 0 0 -15px;

      display: flex;
      // justify-content: space-between;
    }

    .block_slider__slider_item {
      @media (min-width: 320px) {
        display: none;
        
        &--active {
          display: block;
        }
      }

      @media (min-width: 768px) {
        display: block;
        margin: 0 15px;
      }



      .slider_item__block_img {      
        background: #61dafb;
        display: flex;
        justify-content: center;
        align-items: center;
  
        @media (min-width: 320px) {
          width: 280px;
          height: 280px;
        }
  
        @media (min-width: 768px) {
          width: 226px;
          height: 226px;
        }
      }
  
      .slider_item__block_parag {
        font-family: "Consolas Bold";
        font-size: 18px;
        line-height: 1.33;     
        margin: 15px 0 0 0;
  
        @media (min-width: 320px) {
          width: 238px;
        }
  
        @media (min-width: 768px) {
          width: 179px;
        }
      }

    }

    
  }

  .block_similar__block_control {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      display: none;
    }

    .block_control__lbl {
      width: 10px;
      height: 10px;
      background-color: #cccccc;
      border-radius: 50%;
      margin: 0 11px 16px 8px;
      cursor: pointer;
    }

    .block_control__inp:checked + .block_control__lbl {
      width: 14px;
      height: 14px;
      background-color: #0062ff;
    }
  }
}