.main__block_commercial {
  width: 100%;
  height: 273px;
  background-color: #ededed;
  margin: 55px 0 0 0;  

  .block_commercial__wrap {
    padding:  0 20px 20px 20px;
  }

  .block_commercial__block_text {
    font-family: "Segoe UI";
    font-size: 14px;
    line-height: 1.29;
    padding-top: 18px;
         

    .block_text__link {
      color: #0062ff;
      border-bottom: 1px solid #0062ff;
    }
  }

  .block_commercial__block_img {
    margin: 17px 0 0 -1px;
    
  }
}