.main__block_title {
  width: 100%;

  .block_title__wrap {
    padding: 0 20px;
  }

  .block_title__title {
    margin: 25px 0 0 0;
    text-align: center;
    font-family: "Consolas Bold";
    font-size: 24px;   
    color: #0062ff;
    line-height: 2;
    position: relative;

    &::after,
    &::before {
      content: "";
      width: 21px;
      height: 1px;
      opacity: 0.2;
      background-color: #454a52;
      position: absolute;
      top: 25px;
    }

    &::after {      
      left: 0;
    }

    &::before {
      right: 0;
    }
  }
}