.main__block_commercial {
  width: 100%;
  background-color: #ededed;
  
  @media (min-width: 320px) {
    margin: 55px 0 0 0; 
  }

  @media (min-width: 768px) {
    margin: 56px 0 0 0; 
  }

  .block_commercial__wrap {    
    margin: 0 auto;
    display: flex;
    flex-direction: column;   
    
    @media (min-width: 320px) {
      width: 320px;
      padding:  0 20px 56px 20px;
      align-items: flex-start;
    }

    @media (min-width: 768px) {
      width: 768px;
      align-items: center;
      padding:  0 15px 83px 15px;
    }
  }  

  .block_commercial__block_img {
    @media (min-width: 320px) {
      width: 280px;
      height: 200px;
      margin: 17px 0 0 0;
    }

    @media (min-width: 768px) {
      width: 610px;
      height: 200px;
    }

    .block_img__block_text {
      font-family: "Segoe UI";
      font-size: 14px;
      line-height: 1.29;
      padding-top: 18px; 
      align-self: start;

      @media (min-width: 320px) {
        padding-top: 1px;
        margin-bottom: 17px;
      }
      
      @media (min-width: 768px) {
        padding-top: 14px;
        margin-bottom: 15px;
      }
  
      .block_text__link {
        color: #0062ff;
        border-bottom: 1px solid #0062ff;
      }
    }
  }
}